.firstContainer{
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 420px;
    border-radius: 20px;
    padding: 1rem;
    color:white;

}

.pfpContainer{
    align-self: center;
    background-size: contain;
    
    
}
.pfp{
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#nome{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    background-color: #2a033f;
    width: 200px;
    border-radius: 20px;
    padding: 1rem 0;
    font-size: 20px;
}


#emailesenha{
    padding:20px

}
#emailesenha .data{
    margin-top: 20px;
}