.mainContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
    font-family: "Montserrat";
}


.foto{
    position: absolute;
    display: flex;
    align-self: center;
    z-index: 2;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-top: 5rem;
}

.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #222;
    align-self: center;
    margin-top: 7rem;
    width: 30rem;
    height: 30rem;
    margin-bottom: 10px;
    z-index: 1;
    border-radius: 20px;
    gap: 1rem;
    color: white;
}

.input{
    outline: none;
    border: 1px solid white;
    width: 80%;
    height: 2rem;
    background-color: #222;
    font-size: 1.4rem;
    color: white;
    margin-bottom: 10px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#enviar{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #530477;
    color: white;
    cursor: pointer;
}

#enviar:hover{
    background-color: #3b0455;
}

#cancelar{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #890404;
    color: white;
    cursor: pointer;
}

#cancelar:hover{
    background-color: #6b0303;
}