.formControl{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.formControl label{
    font-size: 1.2rem;
    font-weight: 600;
}

.formControl input{
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 1rem;
    outline: none;
    color: white;
}