.footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 10px;
    z-index: 999;
}