.mainContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    background-color: #111;
    position: relative;
}

.imgContainer{
    position: absolute;
    left: 44%;
    top: 6.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img{
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}


.container{
    width: 20rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 9.5rem;
    align-items: center;
    background-color: #444;
    border-radius: 15px;
    gap: 1rem;
    color: white;
    margin-bottom: 2rem;
}

.container input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    outline: none;
    border: none;
}

.container button{
    width: 40%;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}


.container button:hover{
    background-color: #555;
}