*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Cor do thumb (a parte que você pode arrastar) */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Cor do thumb quando você passa o mouse sobre ele */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}